<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <%- include('includes/head') %> <!-- Partial para el head -->
    </head>
    <body>
        <%- include('includes/navbar') %>
        <section class="section">
            <h1 class="title has-text-warning"> Gatos y muchos gatos</h1>
            <nav>
                <ul>
                    <li>gato naranja</li>
                    <li>gato negro</li>
                </ul>
            </nav>

            <p>Aquí hablaremos de gatos y solo <strong class="has-text-danger">gatos</strong></p>

            <h2 class="title is-5 has-text-primary mt-3 mb-2">Presentación</h2>
            <p>Soy Erick Eduardo Bautista Acosta</p>
            <p>Matrícula: A01707267</p>
            <p>Correo: A01707267@tec.mx</p>

            <!-- Formulario para nombrar gatos -->
            <br><br>
            <div class="container"></div>
                <button class="button is-link m-3" id="boton_azul">Nombra un gato </button>

                <div class="box" id="formulario_gato_box" style="display:none;">
                    <!-- gracias a esto puedo mandar los datos. el action -->
                    <form id="formulario_gato_form" action="/mascotas/principal/ngato" method="POST">
                    <div class="field">
                    <h3 class="title is-5">Ingrese los datos del gato</h3>
                    <div>
                    <!-- nombre del gato -->
                    <input type="nombre" id="nombre" class="input" name="nombre" placeholder="Nombre del gato" required>
                    </div>
                    </div>

                    <!-- Menú desplegable para seleccionar al dueño -->
                    <div class="field">
                        <label class="label">Seleccione al dueño del gato:</label>
                            <div class="select">
                                <select name="idDueno" required>
                                    <% Usuario.forEach((usuarios) => { %>
                                        <option value="<%= usuarios.id %>"><%= usuarios.nombre %></option>
                                    <% }); %>
                                </select>                                
                            </div>
                    </div>

                    <div class="field">
                        <label class="label">Seleccione una imagen de gato:</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="color" value="naranja" id="1">
                                <img src="https://wallpapercave.com/wp/wp7313876.jpg" alt="Naranja" width="100">
                            </label>
                            <label class="radio">
                                <input type="radio" name="color" value="blanco" id="2">
                                <img src="https://i.pinimg.com/originals/38/a0/3c/38a03c8aec4b954a0780bbd5f2e789f5.jpg" alt="Blanco" width="100">
                            </label>
                            <label class="radio">
                                <input type="radio" name="color" value="negro" id="3">
                                <img src="https://th.bing.com/th/id/OIP.vPTcdImh65gL-8tvYmV1wAAAAA?rs=1&pid=ImgDetMain" alt="Negro" width="100">
                            </label>
                        </div>
                    </div>
                          <!-- type submit para subir datos, value entrar. esto sirve para enviar los datos -->
                    <button type="submit" class="button is-success mt-3" id="guardar_gato"  value ="Entrar">Guardar Gato</button>
                </form>
            </div>

                  <!-- aqui termina formulario crear gatos -->
            
            <br><br>
            <h2 class="title is-4 has-text-warning">Gatos con nombre</h2>
            <div class="box" id="tarjetas_gatos">
                <!-- Aquí se mostrarán las tarjetas de los gatos -->
            </div>
            <div id="tarjetas_gatos"></div>

            <!-- Sección de inscribirse -->
            <h1 class="title is-5 mt-6">Inscríbete</h1>

            <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        I agree to the <a href="#">terms and conditions</a>
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="question">
                        No
                    </label>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </section>

         <%- include('includes/script') %> 
        <%- include('includes/footer') %> <!-- Partial para el footer -->

    </body>
</html>
